/*--- Font family from Google fonts-----*/
@font-face {
    font-family: "princessofia";
    src: url("../fonts/princessofia.ttf") format("truetype");

}

@font-face {
    font-family: "alkatran";
    src: url("../fonts/alkatran.ttf") format("truetype");
}

/*--------whole page background color*/
body {

    background-color: beige;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 1;

}

/*------header section---*/
.section-header {
    max-width: 100%;
    overflow: hidden;
    display: block;

}

/*---- personal background picture-------------------------*/
.header-background {
    background: url("../images/granada.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    min-height: 350px;
    width: 100%;
    z-index: 1;

}



/*----webit-text-stroke taken from other sources "https://linuxhint.com/set-font-border-css/"*/
.header-text {
    text-align: center;
    font-family: "princessofia", sans-serif, Arial, Helvetica;
    color: #25336B;
    -webkit-text-stroke: 1px #CF840E;
    font-size: xxx-large;

}

h1 {
    font-size: 350%;
    padding: 30px 10px 20px;
}

/*---second section of header menu items -----*/

.menu-items {
    overflow: hidden;
    position: relative;
    top: 40px;
    z-index: 2;
    background: RGBA(207, 132, 14, 0.5);
    height: 15%;
    width: 100%;
    margin: 0;
    border-block-end: 5px solid #25336B;
    text-align: center;
    display: inline-block;

}

/*-----Font menu items design, same color and font as h1---------*/
.item-design {
    float: middle;
    font-size: xx-large;
    font-weight: bold;
    font-family: "princessofia", sans-serif, Arial, Helvetica;
    text-transform: capitalize;
    text-align: center;
    opacity: 1;
    z-index: 3;
    color: #25336B;
    padding: 50px;


}

/*-----------------------------section introduction*/
.introduction-design {
    background-color: beige;
    color: #151d3b;
    z-index: 3;
    margin: 0;
    bottom: 150px;
    opacity: 1;
    display: block;
    width: 100%;

}

h2 {
    color: #151d3b;
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    font-family: "princessofia";
    padding-top: 4px;
    padding-bottom: 4px;
}

.introduction-design p {
    font-family: "alkatran", sans-serif, Arial, Helvetica;
    color: #151d3b;
    font-size: 19px;
    text-align: center;
    text-align: justify;
    padding: 40px 15px 20px;
    margin: 0;

}

/*Visit section header*/
.what-to-do {
    color: #25336B;
    -webkit-text-stroke: 0.5px #CF840E;
    text-align: center;
    font-size: 25px;



}



#welcome-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 50%;
    border: outset;
}



/*-------------------------------------------Plan your trip section-----*/

.activities-design {
    margin-top: 50px;
    margin-bottom: 50px;

}

.activities-design>h2 {
    margin: 1% 0 -3% 0;
}

.activities-block h3 {
    color: #151d3b;
    text-transform: capitalize;
    font-family: "princessofia", sans-serif, Arial, Helvetica;
    text-align: center;
    font-size: 35px;
    margin: 20px 0 20px 0;
    /*margin: 30px 0 30px 0;*/

}

.image-properties {
    border: outset;
    border-radius: 5%;

}

.activities-price {
    background: RGBA(207, 132, 14, 0.2);
    font-size: 19px;
    border-radius: 5%;
    text-align: justify;
    color: #151d3b;
    font-family: "alkatran", sans-serif, Arial;
    width: 92%;

}

.activities-price>a {
    float: right;
}

/*--------taken tag from inspect---------------*/
.btn-dark {
    color: #fff;
    background-color: #151d3b;
    border-color: #CF840E;

}

h4 {
    float: left;
}




/*-----------------------------------------Footer section, it will be the same for all files---*/


footer {
    background: RGBA(207, 132, 14, 0.2);
    padding: 1em;
    margin-top: 30px;


}

footer>p {
    color: #151d3b;
    font-family: "alkatran", Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;


}


.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 0 5% 0 5%;
    color: #25336B;
}

/*----------------------------media websites----------*/

/* Nest Hub Max view
@media only screen and (max-width: 1280px) {
    h1 {
        font-size: 400%;
        padding: 40px 10px 20px;

    }


}
*/


/* Nest Hub view */
@media only screen and (max-width: 1050px) {
    h1 {
        font-size: 450%;
        padding: 150px 10px 120px;

    }



    .image-properties {
        width: 100%;
        height: 500px;

    }

    .activities-price {
        width: 100%;
    }
}


/* Tablet View */
@media only screen and (max-width: 920px) {

    h1 {
        font-size: 450%;
        padding: 150px 10px 120px;

    }

    .menu-items {
        top: 43px;
    }

    .item-design {
        font-size: 60px;
        text-align: center;
        padding: 50px;
        margin: 0;
    }

    .image-properties {
        width: 100%;
        height: 800px;

    }

    .activities-price {
        width: 100%;
        height: 150px;
    }

    .btn-dark {
        color: #fff;
        background-color: #151d3b;
        border-color: #CF840E;
        font-size: 150%;
    }

}

/* -------- Mobile View  -----*/
@media (max-width: 414px) {

    h1 {
        font-size: 100px;
        padding: 80px 10px 20px;

    }

    .menu-items {
        top: 71px;
    }

    .item-design {
        text-align: left;
        padding: 7px;
        margin: 1.7px;
    }

    .image-properties {
        width: 100%;
    }

    .activities-price {
        width: 100%;
        height: 380px;
    }

}